/* BASIC STYLING OF APP */
* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: "Segoe UI", sans-serif;
  background: #1A2933;
  color: #FFF;
}

#main {
  height: 100%;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: hidden;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  min-height: 100vh;
}

h1, p {
  margin: 0 0 1em;
}

body {
  background-color: #121212;
  color: white;
}

h1 {
  opacity: 87%;
}

h2 {
  opacity: 60%;
}

p {
  opacity: 38%;
}

/* HIDE/SHOW ITEMS */
.error-msg {
  display: block;
  position: relative;
  color: #E81123;
  font-size: 2.5vh;
  width: 100%;
  height: 100%;
  /* height: 1vh; */
  /* border: 1px solid #FFF; */
  margin: 0;
  margin-bottom: 2vh;
  padding: 0;
}

.invisible {
  clear: both;
  visibility: hidden;
  display: none;
}

.visible {
  display: block;
}

/* ANIMATION FROM LOGIN TO REGISTER */
@keyframes move-login-right {
  from {
    transform: translateX(0%) translateY(-50%);
    clip-path: inset(0 0 0 0);
  }
  to {
    transform: translateX(-110%) translateY(-50%);
    clip-path: inset(0 0 0 100%);
  }
}
@keyframes move-register-right {
  from {
    transform: translateX(110%) translateY(-100%);
    clip-path: inset(0 100% 0 0);
  }
  to {
    transform: translateX(0%) translateY(-100%);
    clip-path: inset(0 0 0 0);
  }
}
.move-login-right {
  animation-name: move-login-right;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.04, 1.05, 0.86, 1.01);
  animation-fill-mode: forwards;
}

.move-register-right {
  animation-name: move-register-right;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.04, 1.05, 0.86, 1.01);
  animation-fill-mode: forwards;
}

/* ANIMATION FROM REGISTER TO LOGIN */
@keyframes move-login-left {
  from {
    transform: translateX(-110%) translateY(-50%);
    clip-path: inset(0 0 0 100%);
  }
  to {
    transform: translateX(0%) translateY(-50%);
    clip-path: inset(0 0 0 0);
  }
}
@keyframes move-register-left {
  from {
    transform: translateX(0%) translateY(-100%);
    clip-path: inset(0 0 0 0);
  }
  to {
    transform: translateX(110%) translateY(-100%);
    clip-path: inset(0 100% 0 0);
  }
}
.move-login-left {
  animation-name: move-login-left;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.04, 1.05, 0.86, 1.01);
  animation-fill-mode: forwards;
}

.move-register-left {
  animation-name: move-register-left;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.04, 1.05, 0.86, 1.01);
  animation-fill-mode: forwards;
}

/* The container must be positioned relative: */
.custom-select {
  position: relative;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 2.5vh;
  right: 2vh;
  width: 0;
  height: 0;
  border: 1vh solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div, .select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  margin: 0;
  text-align: left;
}

.select-selected {
  left: 0;
  padding-left: 0;
}

.select-items div {
  background-color: rgba(255, 255, 255, 0.1);
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: #3a3a3a;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.select-selected {
  font-size: 2.5vh;
  z-index: 50;
  color: rgba(255, 255, 255, 0.4);
}

/* PAGE SECTION */
#page {
  overflow-x: hidden;
  overflow-y: hidden;
}

#sidebar {
  overflow-x: hidden;
  overflow-y: hidden;
}

#content {
  overflow-x: auto;
  overflow-y: auto;
}

/* STYLING OF LOGIN/REGISTER POPUP */
#popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 60%;
  height: 60%;
  padding: 5%;
  transform: translate(35%, 35%);
  text-align: center;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.05);
}

/* STYLING FOR LINKS SWITCHING BETWEEN LOGIN AND REGISTER POPUPS */
.switch-popup-view {
  cursor: default;
}

.switch-popup-view > * {
  opacity: 60%;
}

.switch-popup-view > a {
  opacity: 87%;
}

/* MINI POPUP SECTION */
#mini-popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 45%;
  height: 45%;
  padding: 5%;
  transform: translate(65%, 65%);
  text-align: center;
  border-radius: 8px;
  background-color: rgba(48, 48, 48, 0.9);
}

#mini-popup-button {
  width: 100%;
  height: 15%;
  border-radius: 8px;
  color: #FFF;
  background-color: rgba(255, 255, 255, 0.05);
  border: 0.5px solid rgba(255, 255, 255, 0.5);
}

#mini-popup-button:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

#mini-popup-message {
  font-size: 6vh;
  margin-bottom: 2vh;
}

/* LOGIN SECTION */
#login {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#login-button {
  width: 100%;
  height: 6.25vh;
  opacity: 60%;
  border: 1px solid #FFF;
  color: #FFF;
  font-size: 2.5vh;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 12px;
  margin-bottom: 2vh;
}

#login-button:hover {
  opacity: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  /* opacity: 90%;
  background-color: rgba(255, 255, 255, 0.9);
  color: #121212; */
}

#login-button:disabled {
  opacity: 40%;
  background-color: rgba(255, 255, 255, 0.2);
  /* opacity: 90%;
  background-color: rgba(255, 255, 255, 0.9);
  color: #121212; */
}

.login-input {
  width: 100%;
  height: 6.25vh;
  opacity: 70%;
  border: 1px solid #FFF;
  color: #FFF;
  font-size: 2.5vh;
  background-color: rgba(255, 255, 255, 0.18);
  border-radius: 12px;
  margin-bottom: 2vh;
  padding: 0 5%;
}

.login-input::placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.login-input:focus {
  outline: 0;
}

.login-input::-ms-reveal {
  filter: invert(100%);
}

/* REGISTER SECTION */
#register {
  position: relative;
  top: 50%;
  transform: translateX(110%) translateY(-100%);
  clip-path: inset(0 100% 0 0);
}

#register-button {
  width: 100%;
  height: 6.25vh;
  opacity: 60%;
  border: 1px solid #FFF;
  color: #FFF;
  font-size: 2.5vh;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 12px;
  margin-bottom: 2vh;
}

#register-button:hover {
  opacity: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  /* opacity: 90%;
  background-color: rgba(255, 255, 255, 0.9);
  color: #121212; */
}

#register-button:disabled {
  opacity: 40%;
  background-color: rgba(255, 255, 255, 0.2);
  /* opacity: 90%;
  background-color: rgba(255, 255, 255, 0.9);
  color: #121212; */
}

.register-input {
  width: 100%;
  height: 6.25vh;
  opacity: 70%;
  border: 1px solid #FFF;
  color: #FFF;
  font-size: 2.5vh;
  background-color: rgba(255, 255, 255, 0.18);
  border-radius: 12px;
  margin-bottom: 2vh;
  padding: 0 5%;
  z-index: 1;
}

.register-input::placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.register-input:focus {
  outline: 0;
}

.register-input::-ms-reveal {
  filter: invert(100%);
}

#register-first-name, #register-last-name {
  width: 49%;
  display: inline;
  margin: 0;
  margin-bottom: 2vh;
}

#register-first-name {
  margin-right: 2%;
}

#register-role {
  appearance: none;
  color: rgba(255, 255, 255, 0.4);
}

/* SIDEBAR SECTION */
#sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 25%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 2.5% 0;
}

#sidebar > h1 {
  width: 100%;
  opacity: 87%;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 20%;
}

#sidebar > h2 {
  width: 100%;
  opacity: 87%;
  margin: 2.5% 0 2.5% 2.5%;
  cursor: pointer;
  font-size: 4.5vh;
}

#sidebar > h2:hover {
  opacity: 60%;
}

#sidebar > hr {
  display: block;
  border-style: inset;
  border-width: 1px;
  width: 95%;
  opacity: 87%;
  text-align: center;
  margin-left: 2.5%;
}

#logo {
  width: 100%;
}

/* CONTENT SECTION */
#content {
  position: absolute;
  top: 0;
  left: 25%;
  width: 75%;
  height: 100%;
  padding: 5%;
}

/* DASHBOARD SECTION */
#dashboard-content {
  width: 100%;
  height: 100%;
}

#points-view {
  width: 95%;
  height: 25%;
  margin: 0 2.5%;
  padding: 0%;
  text-align: center;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
}

#points-view > h1 {
  opacity: 87%;
}

#points {
  width: 50%;
  height: 100%;
  margin: 0;
  padding: 0 5%;
  position: relative;
  float: left;
}

#ranks {
  width: 50%;
  height: 100%;
  margin: 0;
  padding: 0 5%;
  position: relative;
  float: left;
}

#points:after {
  content: "";
  border-left: #CCC 2px solid;
  position: absolute;
  top: 2px;
  bottom: 2px;
  left: 100%;
}

#nothing-here {
  font-size: 3vh;
  opacity: 0.67;
}

/* USERS SECTION */
#all-users {
  width: 100%;
  height: 100%;
  padding: 2.5% 2.5%;
  text-align: center;
  vertical-align: middle;
  table-layout: fixed;
  border-radius: 12px;
  border-collapse: collapse;
}

#all-users th, #all-users td {
  padding: 1%;
  width: 14.2857142857%;
  vertical-align: middle;
  font-size: 2.5vh;
}

#all-users th {
  opacity: 80%;
}

#all-users td {
  opacity: 67%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: default;
}

.odd-row {
  background-color: rgba(255, 255, 255, 0.18);
  height: 6vh;
}

.even-row {
  background-color: rgba(255, 255, 255, 0.1);
  height: 6vh;
}

.verify {
  width: 95%;
  height: 90%;
  border-radius: 4px;
  color: #FFF;
  border: 1px solid #FFF;
  background-color: rgba(255, 255, 255, 0.2);
}

.verify:hover {
  color: #000;
  border: 1px solid #FFF;
  background-color: rgba(255, 255, 255, 0.8);
}

.unverify {
  width: 95%;
  height: 90%;
  border-radius: 4px;
  color: #FFF;
  border: 1px solid #FFF;
  background-color: rgba(255, 255, 255, 0.2);
}

.unverify:hover {
  color: #000;
  border: 1px solid #FFF;
  background-color: rgba(255, 255, 255, 0.8);
}

#all-users tr:first-of-type th:first-of-type {
  border-top-left-radius: 8px;
}

#all-users tr:first-of-type th:last-of-type {
  border-top-right-radius: 8px;
}

#all-users tr:last-of-type td:first-of-type {
  border-bottom-left-radius: 8px;
}

#all-users tr:last-of-type td:last-of-type {
  border-bottom-right-radius: 8px;
}

/* EVENTS SECTION */
#events-content h1 {
  display: inline;
}

#add-event {
  float: right;
  width: 5vh;
  height: 5vh;
  font-size: 5vh;
  color: #fff;
  vertical-align: middle;
  text-align: center;
  padding: 0;
  margin: 1%;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #fff;
  border-radius: 8px;
  display: inline;
  margin-bottom: 5%;
}

#add-event:hover {
  background-color: rgba(255, 255, 255, 0.18);
}

#close-event {
  float: right;
  width: 5vh;
  height: 5vh;
  font-size: 5vh;
  color: rgba(255, 255, 255, 0.87);
  vertical-align: middle;
  text-align: center;
  padding: 0;
  margin: 1%;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 8px;
  display: inline;
  margin-bottom: 5%;
}

#close-event:hover {
  color: rgba(255, 255, 255, 0.6);
}

#events-list {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.event {
  width: 100%;
  height: 33.3333333333%;
  padding: 2.5%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.87);
}

.event h1 {
  color: rgba(255, 255, 255, 0.9);
  font-size: 5vh;
  width: 50%;
  margin: 1vh 0 0.5vh 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.event h3 {
  color: rgba(255, 255, 255, 0.6);
  font-size: 2vh;
  width: 70%;
  height: 100%;
}

.event-info {
  margin-top: 0.5vh;
  margin-bottom: 0.25vh;
}

.event-info h3 {
  color: rgba(255, 255, 255, 0.9);
  font-size: 2vh;
  width: 50%;
  height: 100%;
  font-weight: bold;
  margin-bottom: 0.25vh;
  float: none;
}

.event-info span {
  color: rgba(255, 255, 255, 0.8);
  font-weight: normal;
}

.event-buttons {
  width: 30%;
  padding: 1%;
  float: right;
  vertical-align: middle;
  transform: translate(0, -200%);
}

.event-buttons button {
  width: 100%;
  height: 4vh;
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(255, 255, 255, 0.18);
  border: 1px solid rgba(255, 255, 255, 0.6);
}

.event-buttons button:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.odd-event {
  background-color: rgba(255, 255, 255, 0.18);
}

.even-event {
  background-color: rgba(255, 255, 255, 0.1);
}

#events-list div:first-of-type {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

#events-list div:last-of-type {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom: 0;
}

#add-event-view {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 5%;
  background-color: #121212;
}

#add-event-form {
  margin-top: 2vh;
}

#add-event-form h3 {
  display: inline-block;
  font-size: 3vh;
  opacity: 0.67;
}

#hosts {
  overflow-y: scroll;
}

#hosts input {
  width: 30%;
}

.event-input {
  width: 100%;
  height: 6vh;
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  margin-bottom: 1.5vh;
  color: rgba(255, 255, 255, 0.6);
  font-size: 3vh;
  padding: 1vh 2vh;
}

#add-event-form textarea {
  resize: none;
  height: 12vh;
}

#add-event-form button {
  margin-top: 2vh;
  background-color: rgba(255, 255, 255, 0.05);
}

#add-event-form button:hover {
  margin-top: 2vh;
  background-color: rgba(255, 255, 255, 0.18);
}

#add-event-form label {
  display: inline-block;
  font-size: 3vh;
  opacity: 0.67;
  margin-bottom: 0.5vh;
}

#event-error {
  width: 100%;
  text-align: center;
  color: red;
  font-size: 3vh;
  margin-top: 2vh;
}

/* RANKINGS SECTION */
#rankings-table {
  width: 100%;
  text-align: center;
  vertical-align: middle;
  border-radius: 12px;
  border-collapse: collapse;
}

.odd-rank {
  background-color: rgba(255, 255, 255, 0.18);
  height: 6vh;
}

.even-rank {
  background-color: rgba(255, 255, 255, 0.08);
  height: 6vh;
}

#rankings-table th, #rankings-table td {
  vertical-align: middle;
  opacity: 0.8;
  font-weight: bold;
}

#rankings-table td {
  opacity: 0.67;
  font-weight: normal;
}

#rankings-table tr:first-of-type th:first-of-type {
  border-top-left-radius: 8px;
}

#rankings-table tr:first-of-type th:last-of-type {
  border-top-right-radius: 8px;
}

#rankings-table tr:last-of-type td:first-of-type {
  border-bottom-left-radius: 8px;
}

#rankings-table tr:last-of-type td:last-of-type {
  border-bottom-right-radius: 8px;
}

/* PRIZES SECTION */
#prizes-content {
  text-align: center;
}

#prizes-content h3 {
  font-size: 4vh;
  font-weight: bold;
  opacity: 0.9;
  margin: 1vh 0;
  width: 40%;
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

#prizes-content #main-winner, #prizes-content #grade-9-winner, #prizes-content #grade-10-winner, #prizes-content #grade-11-winner, #prizes-content #grade-12-winner {
  font-weight: normal;
  text-align: right;
  opacity: 0.6;
}

#prizes-content h3:first-of-type, #prizes-content #main-winner {
  width: 100%;
  text-align: center;
}

#prizes-content button {
  width: 80%;
  text-align: center;
  margin-top: 2vh;
  height: 6vh;
  border-radius: 8px;
  font-size: 3vh;
  border: 1px solid rgba(255, 255, 255, 0.67);
  color: rgba(255, 255, 255, 0.67);
  background-color: rgba(255, 255, 255, 0.08);
}

#prizes-content button:hover {
  background-color: rgba(255, 255, 255, 0.18);
}/*# sourceMappingURL=style.css.map */